.Marquee {
  width: 100%;
  color: #8ce600;
  background-color: #000;
  text-align: center;
  padding: 15px;
}

.header_action {
  padding: 5px 5px 0 5px;
  text-align: right;
}

.header_action a {
  display: inline-block;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}

.header_action li {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header_border {
  box-shadow: 0px 5px 10px;
  margin-bottom: 20px;
}
.header {
  width: 1400px;
  display: flex;
  justify-content: center;
}

.header_logo {
  display: inline-block;
}

.header_menu {
  display: inline-block;
}

.header_menu_item {
  text-decoration: none;
  color: #000;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
}

.activities {
  position: absolute;
  display: none;
  background-color: #fff;
  white-space: nowrap;
  top: 35px;
  z-index: 1;
}

.activities li {
  padding: 10px;
}

.header_menu_item:hover .activities {
  display: block;
}

.activities li:hover {
  background-color: #8ce600;
}

.container {
  display: flex;
}
.prod_list {
  width: 30%;
  padding-top: 30px;
  padding-left: 350px;
}

.prod_list label {
  margin: 10px;
  width: 40px;
}

.dropdown-content div {
  padding: 5px;
}

/* 隱藏 input */
.prod_list input {
  display: none;
}

/* 隱藏下拉內容 */
.dropdown-content {
  display: none;
  margin-left: 20px;
}

/* 顯示下拉內容當 checkbox 被勾選時 */
#earring_toggle:checked ~ .dropdown-content {
  display: block;
}

#earring2_toggle:checked ~ .dropdown-content {
  display: block;
}

/* 增加鼠標指針 */
.prod_list label {
  cursor: pointer;
  display: block;
  font-weight: 900;
  font-size: 20px;
}

.prod_list li {
  font-weight: 900;
  font-size: 20px;
}

.prod_title {
  font-size: 20px;
  padding-top: 30px;
}

.item {
  padding: 10px;
}

.item-group {
  display: flex;
  justify-content: left;
}

.item-group span {
  display: block;
}

.item span:nth-of-type(2) {
  padding-top: 10px;
  font-weight: 800;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 35px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  width: 1100px;
  height: 1px;
  background-color: #000;
  top: -25px;
}

.about-me {
  width: 370px;
  text-align: center;
}

.about-me h3 {
  margin-bottom: 25px;
}
.about-me a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000;
}

.Info {
  width: 370px;
  text-align: center;
}

.Info h3 {
  margin-bottom: 25px;
}
.Info a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000;
}

.Contact-us {
  width: 370px;
  text-align: center;
}

.Contact-us h3 {
  margin-bottom: 25px;
}
.Contact-us div {
  color: #000;
  text-align: center;
}

.Payment-method {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
