<div class="Marquee">春季出清，單件下殺65折，售完不補</div>
<div class="header">
  <div class="header_action">
    <ul>
      <a href="#"
        ><i class="fa-solid fa-dollar-sign"></i>
        <span class="fa fa-angle-down"></span
      ></a>
      <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="#"><i class="fa-solid fa-user"></i></a>
      <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </ul>
  </div>
  <div class="header_logo">
    <a href="#">
      <img src="/assets/logo.webp" />
    </a>
  </div>
  <div class="header_menu">
    <nav>
      <a class="header_menu_item"
        >當月活動
        <span class="fa fa-angle-down"></span>
        <div class="activities">
          <li (click)="goToDiscount65()">春季出清 | 單件65折</li>
          <li><a href="eight-five">夏季包帽 | 單件85折</a></li>
          <li>銅飾系列 | 2件8折</li>
        </div>
      </a>

      <a href="#" class="header_menu_item"
        >全部商品 ALL
        <span class="fa fa-angle-down"></span>
        <div class="activities">
          <li>新品入荷【週四上新】</li>
          <li>耳環</li>
          <li>耳夾</li>
          <li>項鍊</li>
          <li>手鍊</li>
          <li>戒指</li>
          <li>包款</li>
          <li>帽款</li>
        </div>
      </a>

      <a href="#" class="header_menu_item"
        >熱門主題
        <span class="fa fa-angle-down"></span>
        <div class="activities">
          <li>經典和風</li>
          <li>櫻花盛開</li>
          <li>可愛動物</li>
          <li>優雅花店</li>
        </div>
      </a>

      <a href="#" class="header_menu_item"
        >輕膚首選
        <span class="fa fa-angle-down"></span>
        <div class="activities">
          <li>18k金</li>
          <li>925 純銀</li>
          <li>不鏽鋼 / 醫療鋼</li>
        </div>
      </a>

      <a href="#" class="header_menu_item">店鋪資訊 </a>
    </nav>
  </div>
</div>
<div class="Marquee-pic">
  <img src="assets/ocen.webp" alt="" />
</div>
<div class="wrap">
  <h2>週間排行榜</h2>
  <div class="item-group">
    <a href="#">
      <div class="item">
        <img class="source" alt="" />

        <span>蝴蝶珍珠耳環</span>
        <span>NT $690</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div>
    </a>
    <!-- 黑色毛玻璃要定在第二層照片上，大小跟照片一樣大
        加入購物車定在黑色毛玻璃上，當我摸到item時毛玻璃跟加入購物車出現-->

    <a href="#">
      <div class="item">
        <img src="/src/assets/Weekly-ranking/pearl-necklake.webp" alt="" />
        <span>珍珠項鍊</span>
        <span>NT $770</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >

    <a href="#">
      <div class="item">
        <img src="/src/assets/Weekly-ranking/butterfly-ring.webp" alt="" />
        <span>蝴蝶戒指</span>
        <span>NT $700</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >
  </div>

  <div class="item-group">
    <a href="#">
      <div class="item">
        <img src="  /src/assets/Weekly-ranking/cat-necklace.webp" alt="" />

        <span>貓咪項鍊</span>
        <span>NT $690</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="item">
        <img src="/src/assets/Weekly-ranking/double-necklacke.webp" alt="" />
        <span>雙層項鍊</span>
        <span>NT $700</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >

    <a href="#">
      <div class="item">
        <img src="/src/assets/Weekly-ranking/flower-bracelet.webp" alt="" />
        <span>鬱金香龍珠手鍊</span>
        <span>NT $900</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >
  </div>
</div>
<div class="product_list">
  <a class="product_list_button" (click)="goToProduct()">查看更多</a>
</div>
<div class="ear">
  <div class="earring-logo">
    <img src="/src/assets/earring/earring-logo.webp" alt="" />
  </div>
  <div class="item-group">
    <a href="#">
      <div class="item">
        <img src="/src/assets/ear-ring/ear-one.webp" alt="" />

        <span>水滴玫瑰耳夾</span>
        <span>NT $690</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div>
    </a>
    <!-- 黑色毛玻璃要定在第二層照片上，大小跟照片一樣大
        加入購物車定在黑色毛玻璃上，當我摸到item時毛玻璃跟加入購物車出現-->

    <a href="#">
      <div class="item">
        <img src="/src/assets/earring/ear-two.webp" alt="" />
        <span>漢堡耳環</span>
        <span>NT $770</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >

    <a href="#">
      <div class="item">
        <img src="/src/assets/earring/ear-three.webp" alt="" />
        <span>玫瑰珍珠耳環</span>
        <span>NT $700</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >
  </div>
  <div class="item-group">
    <a href="#">
      <div class="item">
        <img src="/src/assets/earring/ear-four.webp" alt="" />

        <span>達摩不倒翁耳夾</span>
        <span>NT $690</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div>
    </a>
    <!-- 黑色毛玻璃要定在第二層照片上，大小跟照片一樣大
        加入購物車定在黑色毛玻璃上，當我摸到item時毛玻璃跟加入購物車出現-->

    <a href="#">
      <div class="item">
        <img src="/src/assets/earring/ear-five.webp" alt="" />
        <span>蝴蝶水滴耳夾</span>
        <span>NT $770</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >

    <a href="#">
      <div class="item">
        <img src="/src/assets/earring/ear-six.webp" alt="" />
        <span>圓式珍珠耳夾</span>
        <span>NT $800</span>
        <div class="prod-mask">
          <div class="add-to-car">加入購物車</div>
        </div>
      </div></a
    >
  </div>
  <div class="product_list">
    <a class="product_list_button" (click)="goToProduct()">查看更多</a>
  </div>
  <!--新的-->
  <div class="neck">
    <div class="necklakes-logo">
      <img src="/src/assets/necklakes/necklakes-logo.webp" alt="" />
    </div>
    <div class="item-group">
      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-1.webp" alt="" />

          <span>星芒項鍊</span>
          <span>NT $690</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div>
      </a>
      <!-- 黑色毛玻璃要定在第二層照片上，大小跟照片一樣大
          加入購物車定在黑色毛玻璃上，當我摸到item時毛玻璃跟加入購物車出現-->

      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-2.webp" alt="" />
          <span>水滴光澤項鍊</span>
          <span>NT $640</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div></a
      >

      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-3.webp" alt="" />
          <span>珍珠連環節項鍊</span>
          <span>NT $730</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div></a
      >
    </div>

    <div class="item-group">
      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-4.webp" alt="" />

          <span>閃亮蝴蝶結項鍊</span>
          <span>NT $840</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div>
      </a>
      <!-- 黑色毛玻璃要定在第二層照片上，大小跟照片一樣大
          加入購物車定在黑色毛玻璃上，當我摸到item時毛玻璃跟加入購物車出現-->

      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-5.webp" alt="" />
          <span>迷你心項鍊</span>
          <span>NT $600</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div></a
      >

      <a href="#">
        <div class="item">
          <img src="/src/assets/necklakes/necklakes-6.webp" alt="" />
          <span>圓式珍珠耳夾</span>
          <span>NT $800</span>
          <div class="prod-mask">
            <div class="add-to-car">加入購物車</div>
          </div>
        </div></a
      >
    </div>
    <div class="product_list">
      <a class="product_list_button" (click)="goToProduct()">查看更多</a>
    </div>
  </div>

  <div class="footer">
    <div class="about-me">
      <h3>About us</h3>
      <a href="#">關於我們</a>
      <a href="#">店鋪資訊</a>
      <a href="#">會員制度</a>
    </div>

    <div class="Info">
      <h3>Info</h3>
      <a href="#">購物須知</a>
      <a href="#">常見問題</a>
      <a href="#">飾品保養</a>
    </div>

    <div class="Contact-us">
      <h3>Contact us</h3>
      <div>時意有限公司O SEASON CO., LTD.</div>
      <div>客服電話 (02)2508-3530</div>
      <div>
        線上客服 https://m.me/osewaya.taiwan MON - FRI / 10:00 am - 18:00 pm
      </div>
    </div>
  </div>

  <div class="Payment-method">
    <img src="./footer/7-11.svg" alt="" />
    <img src="./footer/jcb.svg" alt="" />
    <img src="./footer/visa.svg" alt="" />
    <img src="./footer/全家.svg" alt="" />
    <img src="./footer/賴配.svg" alt="" />
  </div>
</div>
